
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCar2Label">Create or edit a Car 2</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.car2.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.car2.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.car2.name"
                    />
        </div>

        <div class="form-group">
            <label for="field_owner2">Owner 2</label>
            <select class="form-control" id="field_owner2" name="owner2" ng-model="vm.car2.owner2" ng-options="owner2 as owner2.id for owner2 in vm.owner2s track by owner2.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_driver2">Driver 2</label>
            <select class="form-control" id="field_driver2" name="driver2" ng-model="vm.car2.driver2" ng-options="owner2 as owner2.id for owner2 in vm.owner2s track by owner2.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
